<%= render 'menu' %>
<h1 class='about-title'>Cindy Jamieson</h1>

<div class='copy'>
    <p class='copy-p'>My attention to detail and eye for small aberrations in patterns is the result of both my training as a diving coach and my many years of experience as a fashion stylist for print media, runway, and television. Taking my eye for detail into my Rolfing practice was a natural fit.</p>

    <p class='copy-p'>My ultimate goal is to help companies reduce claims by empowering Employees with skills and tools to help them help themselves</p>

    <p class='copy-p'>Blending my passion, experience, and skills, I created a hybrid form of Rolfing for industry. Since 2007, I have worked in light industrial manufacturing to reduce RSI injuries and other ergonomic issues using this approach.</p>

    <p class='copy-p'>Worked with:</p>
    <ul class='copy-p'>
        <li>USA Biathlon World Cup and Olympic Team trials -Lake Placid, Sochi Olympics -</li>
        <li>World Cup Figure skating Championships 1998</li>
        <li>Athletes in Sochi, London and Rio Olympics</li>
        <li>Currently with with NHL players form Minnesota Wild, Washington Capitals and Edmonton Oilers</li>
    </ul>

    <p class='copy-p'>Fundamentally, I am a COACH. I coach for best practice in athletes, employees and people.</p>

    <p class='copy-p'>Certifications:</p>
    <ul class='copy-p'>
        <li>Certified Advanced Rolfer</li>
        <li>Certified as a Yoga, Pilates and Meditation teacher/trainer</li>
    </ul>
</div>



