<%= render 'menu' %>

<h1 class='about-title'>My Approach</h1>
<div class='copy'>
    <p class='copy-p'>I created a hybrid form of Rolfing for the workplace that combines Structural Integration and ergonomics. I look at employees holistically to detect stress patterns and work together with them to manage the stress through a variety of wellness activities.</p>

    <ul class='copy-p approach-ls'>
        <li>working hands on with the Connective Tissue/Fascia (CT) in the body</li>
        <li class='abt-li'>General stretching designed for workers from stress incurred while looking through microscopes and small fine handwork.</li>
        <li class='abt-li'>stretching, in the form of individual and group Yoga/Fascial stretching that can be done multiple times a day in 3 minute blocks of time, 3 X’s a day. 1 : 1. Also at home. The win is when a rural employee takes me aside and tells me he’s purchased a yoga mat and is stretching at home.</li>
        <li class='abt-li'>Mindfulness training for daily stress breaks to re calibrate and reduce daily stressors in the form of breathing techniques and meditation where appropriate.</li>
    </ul>
</div>

<h1 class='about-title'>What is Rolfing?</h1>
<div class='copy'>
    <p class='copy-p'>Rolfing Structural Integration (or simply Rolfing) is a deep connective tissue massage technique that releases the body’s segments from life-long patterns of tension and permits gravity to realign them, thus balancing the psychological and emotional experience that brings long-lasting changes to the body.</p>

    <p class='copy-p'>Rolfing incorporates the science of bio-mechanics to work effectively with lower back pain, knee problems, repetitive stress injury (i.e., carpal tunnel syndrome), athletic performance and recovery. These structural alignment techniques promote injury prevention by decreasing the likelihood of trauma to the joints.</p>

    <p class='copy-p'>Many professional and Olympic athletes have found Rolfing enhances performance and reduces recovery time for sports-related injuries. Rolfing differs from general sports massage therapies because it realigns the structure for greater efficiency and precision of movement.</p>
</div>
