<div class='main'>
    <%= render 'menu' %>

    
    <div class='contact'>
        <h1 class='contact-name'>Cindy Jamieson</h1>

        <p class='email'>cjbdymndhrt@aol.com</p>
        <p class='phone'>p. 952.474.1576</p>
    </div>
</div>

