<%= render 'menu' %>
<div class='pg'>
    <div class='pg-title'>
        <h1>Cindy Jamieson</h1>
    </div>
    <div class='pg-body'>
        <div class='contact'>
            <p>p. 952.474.1576</p>
            <p>cjbdymndhrt@aol.com</p>
        </div>
        <div class='address'>
            <p>464 2nd Street</p>
            <p>Suite 102</p>
            <p>Excelsior, MN 55351</p>
        </div>
    </div>
</div>