<div class='main main-home'>
    <%= render 'menu' %>
    <div class='title-box'>
        <h1 class='title'>Body<div class='title-dot'></div>Mind<div class='title-dot'></div>Heart</h1>
        <h4 class='subtitle'>Integrated Performance Training</h4>
    </div>
    <div class='home-img-container'>
        <p class='home-name'>Cindy Jamieson</p>
        <img class='home-img' src='https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?fit%3Dcrop%26h%3D1000%26mark%3Dhttps%253A%252F%252Fassets.imgix.net%252F~text%253Fbg%253D80000000%2526txt%253DFree%252BStock%252BPhotos%2526txtalign%253Dcenter%2526txtclr%253Dfff%2526txtfont%253DAvenir-Heavy%2526txtpad%253D20%2526txtsize%253D120%2526w%253D1300%26markalign%3Dcenter%252Cmiddle%26txt%3Dpexels.com%26txtalign%3Dcenter%26txtclr%3Deeffffff%26txtfont%3DAvenir-Heavy%26txtshad%3D10%26txtsize%3D60%26w%3D1500&imgrefurl=https://www.pexels.com/search/portrait/&tbnid=qbdYSxEZv8JeJM&vet=1&docid=hdqrMUVGU3Y52M&w=1500&h=1000&q=stock+portrait+photo&hl=en&source=sh/x/im'>
        <p class='home-cert'>Certified Advanced Rolfer</p>
    </div>
</div>
<div class='socials'>
    <img class='social' src='/images/glyph-logo_May2016.png' />
    <p class='social-name'>Instagram</p>
</div>
<div class='sub-home'>
    <p class='copy-p'>My work is about creating a way of looking at workers holistically by developing support and providing tools with hands-on, virtual and face-to-face coaching.</p>
    <div class='quote home-quote'
        <p class='copy-p quote-txt-a'>I look at my clients through my Body<span>&#183;</span>Mind<span>&#183;</span>Heart lens</p>
    </div>
    <h1  class='bmh-title body-heart body'>Body</h1>
    <p class='bmh-p body-heart'>Improve performance both in and out of work by analyzing ergonomics and the direct stress of repetitive work and incorporating healthy food choices on work campuses</p>
    
    <h1  class='bmh-title mind'>Mind</h1>
    <p class='bmh-p mind'>Provide tools for supporting mental health and the well-being of workers through a variety of relaxation techniques</p>
    
    <h1  class='bmh-title body-heart'>Heart</h1>
    <p class='bmh-p body-heart'>Foster inspired work by supporting employees’ value and how they contribute</p>
</div>