// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// SITE-WIDE

html {
    background-color: #FDEDD8;
}

#root {
    min-width: 300px;
}

body {
    text-align: center;
    font-family: 'Quattrocento', serif;
}

p, ul, h1, h4 {
    margin: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.dropdown {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 0;
}

#menu-btn {
    cursor: pointer;
}

.main {
    height: 100vh;
    min-height: 650px;
}


// HOME page

.main-home {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-dot {
    height: 10pt;
    width: 10pt;
    border-radius: 7pt;
    background-color: black;
    align-self: center;
    margin-left: 6pt;
    margin-right: 6pt;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 0.6em;

}

.home-img-container {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.home-img {
    height: 65vh;
    min-height: 490px;
    object-fit: contain;
}

.home-name-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-name {
    font-size: 1.3rem;
}


// ABOUT/APPROACH pages

.about-title {
    margin-top: 0.5em;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 0.8em;
}

.copy-p {
    max-width: 800px;
    width: 100%;
    margin-bottom: 1.2em;
}

.quote {
    text-align: center;
    font-size: 1.2rem;
    margin: 2em;
}

.quote-txt {
    margin-bottom: 0.5em;
}

.img-block {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
}

.img-bl-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1rem;
    height: 370px;
}

.about-img {
    object-fit: contain;
    height: 370px;
    margin-bottom: 2em;
}


// CONTACT page

.contact-name {
    margin-top: 2em;
}

.email {
    margin: 2em;
}



@media (min-width: 320px) and (max-width: 999px) {

    .title {
        font-size: calc(40px + 6 * ((100vw - 320px) / 680));
    }
    
    .subtitle {
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }

}

@media (min-width: 800px) {
    .img-block {
        flex-direction: row;
    }

    .img-bl-txt {
        margin-right: 1.5em;
    }

    .about-img {
        margin-bottom: 0em;
    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 23px;
    }
}