// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// SITE-WIDE

html {
    background-color: #FDEDD8;
}

#root {
    min-width: 300px;
}

body {
    text-align: center;
    font-family: 'Quattrocento', serif;
}

p, ul, h1, h4 {
    margin: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.main {
    height: 100vh;
    min-height: 690px;
}

// MENU

.dropdown {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 0;
    width: 9em;
    background-color: #FDEDD8F2;
    padding-bottom: 0.7em;
    border-radius: 10px;
}

#menu-btn {
    cursor: pointer;
    font-size: 1.3rem;
}

.menu-li {
    margin-top: 1em;
    font-size: 1.3rem;
}

.menu-item {
    color: black;
    text-decoration: none;
}



// HOME page

.main-home {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.2rem;
}

.title-dot {
    height: 10pt;
    width: 10pt;
    border-radius: 7pt;
    background-color: black;
    align-self: center;
    margin-left: 6pt;
    margin-right: 6pt;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 0.6em;

}

.home-img-container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-img {
    height: 65vh;
    min-height: 490px;
    object-fit: contain;
    order: 3;
    margin-top: 1.4rem;
}

.home-name, .home-cert {
    font-size: 18px;
}

.home-name {
    order: 1;
}

.home-cert {
    order: 2;
}


// sub home
.home-quote {
    margin-bottom: 1.7rem;
}

.socials {
    margin-top: 2.7rem;
    margin-bottom: 5rem;
}

.social {
    width: 40px;
}

.social-name {
    margin: 3px;
}

.sub-home {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.bmh-title {
    font-size: 40px;
    margin-top: 6rem;
}

.body {
    margin-top: 0rem;
}

.body-heart {
    text-align: left;
}

.mind {
    text-align: right;
    align-self: flex-end;
}

.body-heart, .mind {
    max-width: 400px;
    margin-left: 0;
    margin-right: 0;
}


// ABOUT/APPROACH pages

.about-title {
    margin-top: 0.5em;
    font-size: 30px;
}

#about {
    margin-top: 0em;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 0.8em;
}

.copy-p {
    max-width: 800px;
    width: 100%;
    margin-bottom: 1.2em;
}

.quote {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2em;
    background-color: #E7E7E7;
    max-width: 800px;
    align-self: center;
    padding: 30px 0px 30px 0px;
    border-radius: 8px;}

.quote-txt-a {
    margin-bottom: 0.5em;
}

.quote-txt-b {
    margin-bottom: 0em;
}

.img-block {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1em;
}

.img-bl-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1rem;
    height: 370px;
}

.about-img {
    object-fit: contain;
    height: 370px;
}


// CONTACT page

.contact-name {
    margin-top: 2em;
}

.email {
    margin: 2em;
}



@media (min-width: 320px) and (max-width: 999px) {

    .title, .bmh-title {
        font-size: calc(40px + 6 * ((100vw - 320px) / 680));
    }
    
    .subtitle, .home-name {
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }

    .about-title {
        font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    }
}

@media (min-width: 450px) {
    .quote {
        padding: 30px 50px 30px 50px;
    }
}

@media (min-width: 800px) {
    .img-block {
        flex-direction: row;
        margin-top: 1.6em;
    }

    .img-bl-txt {
        margin-right: 1.5em;
    }

    .about-img {
        margin-bottom: 0em;
    }

    .quote {
        margin-top: 1.3em;
    }

    // HOME

    .home-img-container {
        flex-direction: row;
    }

    .home-name, .home-cert {
        width: 12vw;
    }

    .home-img {
        order: 2;
        margin-top: 0rem;
    }
    
    .home-name {
        order: 1;
    }
    
    .home-cert {
        order: 3;
    }
    .title, .bmh-title {
        font-size: 68px;
    }

    .body-heart {
        margin-left: 2rem;
    }

    .mind {
        margin-right: 2rem;
    }
    
    .subtitle, .home-name, .home-cert {
        font-size: 23px;
    }
}

@media (min-width: 1000px) {

    .about-title {
        font-size: 48px;
    }

    .body-heart, .mind {
        max-width: 45vw;
    }
}


// @media (min-height: 690px) {

//     .home-name-container {
//         height: auto;
//     }

    // .home-name {
    //     font-size: 5rem;
    // }

    // .home-cert {
    //     font-size: 
    // }
// }