// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Quattrocento', serif;
}

p, ul {
    margin: auto;
}

.menu-item {
    background-color: white;
    text-decoration: none;
    color: black;
}