// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dropdown {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Quattrocento', serif;
}

p, ul {
    margin: auto;
}

.menu-item {
    background-color: white;
    text-decoration: none;
    color: black;
}

#menu-btn {
    cursor: pointer;
    width: 100pt;
}

.title {
    font-size: 25pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-dot {
    height: 6pt;
    width: 6pt;
    border-radius: 3pt;
    background-color: black;
    align-self: center;
    margin-left: 6pt;
    margin-right: 6pt;
}

#root {
    height: 100vh;
    width: 100vw;
}